html, body {height: 100%; margin: 0; padding: 0; font-family: "Open Sans", sans-serif;}
body { background-color: #F3F3F3; }
.panel { margin-bottom: 0; }
.panel-heading {height: 50px;}
.pagination {padding-top: 0px;}
.filter {
    position: relevant;
    float: right;
}
.info-table-title { 
    position: relevant;
    float: left; 
}
.fav-btn {
    background: none;
}
.fa-star {
    color: #FDFD36;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
#header{
    width: 100%;
    height: 50px;
    text-align: center;
}
#menu-btn {
    position: absolute;
    left: 10px;
    margin: 15px 0 0 10px;
    cursor: default;
}
#header-title {
    height: 50px;
    font-size: 18px;
}
#header-title img {
    margin: 10px 0 0 -50px;
}
#header-title span {
    position: absolute;
    margin: 8px 0 0 10px;
}
#container {
    width: 100%;
    position: absolute;
    top: 50px;
    padding: 0 0 0 0;
}
#container>div { height: 100% }
#side-nav {
    width: 15%;
    position: fixed;
    top: 50px;
    bottom: 0;
    color: #B6B5B3;
    background-color: #3C3C3C;
}
#side-nav li {
    cursor: pointer;
    font-size: 15px;
    margin-top: 30px;
}
#side-nav li i {
    margin-left: 10px;
}
#side-nav li span {
    margin-left: 10px;
}
#main-content {
    height: 100%;
    margin-left: 15%;
    padding: 0 15px 0 15px;
}
#main-content .cont-header {
    padding: 15px 0 0 0;
    font-size: 28px;
}
#main-content .cont-split {
    width: 100%;
    height: 1px;
    background-color: #C4C4C4;
    margin-top: 10px;
}
#main-content .detail-container {
    margin: 20px 0 20px 0;
}
#main-content .detail-container .detail-nav-body {
    margin: 0;
    padding: 0;
}
#main-content .detail-container .panel-split {
    width: 100%;
    height: 1px;
    background-color: #EAEAEA;
}
#main-content .detail-container .detail-nav-body a { color: #EAEAEA; }
#main-content .detail-container .detail-nav-body a:hover { background-color: #FFFFFF; }
#main-content .detail-container .detail-nav-body a:visited { background-color: #FFFFFF; }
#main-content .detail-container .detail-nav .active {
    color: #999999;
    border: 1px solid #EAEAEA;
}
#leg-table .table {
    margin-bottom: 0;
}
#container .pag-container {
    width: 100%;
    text-align: center;
}
.detail-info .detail-re-btn {
    position: relevant;
    float: left;
    background: none;
}
.detail-info .detail-info-title {
    display: block;
    font-size: 25px;
    position: relevant;
    float: left;
}
.detail-info .leg-fav-btn {
    position: relevant;
    float: right;
}
#leg-detail-left-down th {
    width: 150px;
    font-weight: bold;
}
#leg-detail-right .leg-detail-right-title {
    font-size: 18px;
}


@media screen and (min-width:750px) {
    #page { min-width: 1100px; }
    .filter { width: 20%; }
    #leg-cont #leg-detail-left {
    position: relevant;
    float: left;
    width: 48%;
    }
    #leg-cont #leg-detail-right {
        position: relevant;
        float: right;
        width: 48%;
    }
    #leg-detail-img {
        width: 45%;
        position: relevant;
        float: left;
        text-align: center;
    }
    #leg-detail-img-right {
        width: 50%;
        position: relevant;
        float: left;
    }
    #bills-detail-left {
        width: 50%;
        position: relevant;
        float: left;
    }
    #bills-detail-right {
        width:50%;
        position: relevant;
        float: right;
    }
}

@media screen and (max-width:768px) {
    table th, table td {
        word-break: keep-all;
        white-space: nowrap;
    }
    #side-nav li {
        margin-left: 10px;
    }
    #side-nav li i {
        font-size: 1.33333333em;
        line-height: .75em;
        vertical-align: -15%;
    }
    .info-panel { padding: 0; }
    .info-panel-body { overflow: auto; }
    .info-table-title { 
        width: 40%; 
        margin: -5px 0 0 -5px;
    }
    .filter { width: 60%; }
    #leg-detail-img {
        text-align: center;
    }
    #leg-detail-img-right { 
        margin-top: 20px;
    }
    #leg-detail-img-right table{
        border-bottom: 1px solid #DDDDDD;
    }
    .not-show-on-phone {
        display: none;
    }
    #leg-detail-right table {
        border: 1px solid #DDDDDD;
        margin-top: 5px;
    }
}